.Title {
    text-transform: uppercase;
    font-family: "Upheaval";
    font-size: 110px;
    width: 100%;
    text-align: center;
    margin-top: 50px;

    @media (max-width: 1000px) {
        text-align: left;
        margin: 18px 0 10px 40px;
        font-size: 30px;
        max-width: 115px;
        min-width: 115px;
        max-height: 15px;
        min-height: 15px;
        order: 1;
    }
}