.Social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60px;
    position: relative;
    right: 60px;

    @media (max-width: 1000px) {
        flex-direction: row;
        width: 100%;
        justify-content: start;
        margin-bottom: 12px;
        margin-left: 20px;
        right: 0;
    }

    &__img {
        padding: 14px;
        background-color: rgba(41, 72, 93, 0.5);
        border: 2px solid #FF929A;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        @media (max-width: 500px){
            width: 40px;
            height: 40px;
        }
        img {
            width: 32px;
        }
    }
}