@font-face {
    font-family: "Upheaval";
    src: url(/fonts/UpheavalPro.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clacon";
    src: url(/fonts/clacon2.ttf);
    font-weight: normal;
    font-style: normal;
}